; DÉVELOPPEMENT (Mailpit)
host = "localhost"
port = 1025
authentication = false
username = ""
password = ""
from_email = "contact@chrysalide.local"
from_name = "Chrysalide - Dev"

; PRODUCTION (Infomaniak)
;host = "mail.infomaniak.com"
;port = 465
;authentication = true
;username = "contact@heig-chrysalide.ch"
;password = ""
;from_email = "contact@heig-chrysalide.ch"
;from_name = "Chrysalide"    